body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.container {
  margin-top: 20px;
}

.jumbotron {
  background-color: #f8f9fa;
  font-family: Arial, sans-serif;
  padding: 50px;
  margin-bottom: 0;
}
.contact-container {
    padding: 20px;
  }
  
  .contact-container h2 {
    margin-bottom: 20px;
  }
  
  .contact-container .list-group-item {
    border: none;
    padding: 5px;
  }
  
  .contact-container p {
    margin-bottom: 10px;
  }