<app-menu></app-menu>

<div class="jumbotron text-center">
  <h1 class="dispayl-4">Contacto - Clínica IPS SaniUIS</h1>
  <p class="lead">Somos una clínica comprometida con tu salud y bienestar.</p>
  <a class="btn btn-primary btn-lg" href="/login" role="button">Agenda tu cita</a>
</div>

<div class="contact-container">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <img src="../../../assets/contactanos1.webp" alt="" class="transparent-image img-fluid">
        <h2>Contáctanos</h2>
        <ul class="list-group">
          <li class="list-group-item">Teléfono: 123456789</li>
          <li class="list-group-item">Correo electrónico: info@clinicaIpsSaniUIS.com</li>
          <li class="list-group-item">Dirección: Calle Principal 123, Bucaramanga</li>
        </ul>
      </div>
      <div class="col-md-6">
        <img src="../../../assets/contactanos2.webp" alt="" class="transparent-image img-fluid">
        <h2>Horario de atención</h2>
        <p>Lunes a viernes: 8am - 6pm</p>
        <p>Sábados: 9am - 1pm</p>
      </div>
    </div>
  </div>
</div>