<div class="banner-container">
    <div class="banner">
      <img class="banner-image" src="../../assets/Logo-UIS-75.png" alt="Imagen del banner" width="150px">
      <h1>Clínica IPS SaniUis</h1>
    </div>
  </div>

<div class="container-fluid">
    <div class="row flex-nowrap">
        <div class="col-auto col-md-3 col-xl-2 px-sm-2 px-0 bg-color">
            <div class="d-flex flex-column align-items-center align-items-sm-start px-3 pt-2 text-white min-vh-100">
                <a href="/" class="d-flex align-items-center pb-3 mb-md-0 me-md-auto text-white text-decoration-none">
                    <span class="fs-5 d-none d-sm-inline colText">Menu</span>
                </a>
                <ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start"
                    id="menu">
                    <li class="nav-item">
                        <a href="/homeMedico" class="nav-link align-middle px-0 colText">
                            <i class="fs-4 bi-house"></i> <span class="ms-1 d-none d-sm-inline">Home</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="/medicoCitas" class="nav-link align-middle px-0 colText">
                            <i class="fs-4 bi-house"></i> <span class="ms-1 d-none d-sm-inline">Citas</span>
                        </a>
                    </li>

                    <li>
                        <a href="/medicoCitasFinalizadas" class="nav-link px-0 align-middle colText">
                            <i class="fs-4 bi-table"></i>
                            <span class="ms-1 d-none d-sm-inline">Citas finalizadas</span>
                        </a>
                    </li>

                    <li>
                        <a href="#" (click)="logout()" class="nav-link px-0 align-middle colText">
                            <i class="fs-4 bi-table"></i>
                            <span class="ms-1 d-none d-sm-inline">Cerrar sesión</span>
                        </a>
                    </li>

   
                </ul>
                <hr>

            </div>
        </div>
        <div class="col py-3 d-flex justify-content-center align-items-center">
            <img
              src="../../assets/Logo-UIS-75.png"
              alt="Imagen del banner"
              class="img-fluid"
            />
          </div>
    </div>
</div>