<app-menu></app-menu>
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<section class="login-block">
    <div class="container">
	<div class="row">
		<div class="col-md-4 login-sec">
		    <h2 class="text-center">Iniciar sesión</h2>
		    <form #loginForm="ngForm" (ngSubmit)="onSubmit()">
  <div class="form-group">
    <label for="exampleInputEmail1" class="text-uppercase">Usuario</label>
    <input type="text" class="form-control" placeholder=""
    [(ngModel)]="correoElectronico" name="username" required>
    
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1" class="text-uppercase">Contraseña</label>
    <input type="password" class="form-control" placeholder=""
    [(ngModel)]="contrasena" name="password" required>
  </div>
  
  
    <div class="form-check">
    <label class="form-check-label">
      <input type="checkbox" class="form-check-input">
      <small>Mantener sesión iniciada</small>
    </label>
    <button type="submit" class="btn btn-login float-right">Iniciar Sesión</button>
  </div>
  
</form>
<div class="copy-text"></div>
<br><img src="../../../assets/logoSaniUIS.png" alt="" class="logo-img">
		</div>
		<div class="col-md-8 banner-sec">
    <div>
      <img class="d-block img-fluid" src="../../../assets/login.webp" alt="First slide">
      <div class="d-none d-md-block">
        <div class="banner-text">
            <h2>IPS SaniUIS</h2>
            <p>¡Bienvenido a Ips SaniUis! Nuestro objetivo es mejorar tu experiencia en las IPS, agilizando el proceso de agendación de citas, reduciendo los tiempos de espera y optimizando la entrega de medicamentos. Únete a Ips SaniUis y descubre cómo mejorar tu experiencia en las Instituciones Prestadoras de Salud. ¡Agenda tus citas, recibe tus medicamentos y disfruta de una atención médica sin complicaciones!            </p>
        </div>	
  </div>
  </div>
            </div>	   
		    
		</div>
	</div>