<div class="banner-container">
    <div class="banner">
      <img class="banner-image" src="../../assets/Logo-UIS-75.png" alt="Imagen del banner" width="150px">
      <h1>Clínica IPS SaniUis</h1>
    </div>
</div>
  <div class="container-fluid">
    <div class="row flex-nowrap">
        <div class="col-auto col-md-3 col-xl-2 px-sm-2 px-0 bg-color">
            <div class="d-flex flex-column align-items-center align-items-sm-start px-3 pt-2 text-white min-vh-100">
                <a href="/homeAdmin" class="d-flex align-items-center pb-3 mb-md-0 me-md-auto text-white text-decoration-none">
                    <span class="fs-5 d-none d-sm-inline">Menu</span>
                </a>
                <ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start" id="menu">
                    <li class="nav-item">
                        <a href="/adminUsuario" class="nav-link align-middle px-0">
                            <i class="fs-4 bi-house"></i> <span class="ms-1 d-none d-sm-inline colText">Usuarios</span>
                        </a>
                    </li>
                    <li>
                        <a href="#submenu1" data-bs-toggle="collapse" class="nav-link px-0 align-middle">
                            <i class="fs-4 bi-speedometer2"></i> <span class="ms-1 d-none d-sm-inline colText">Medicamentos</span> </a>
                        <ul class="collapse show nav flex-column ms-1" id="submenu1" data-bs-parent="#menu">
                            <li class="w-100">
                                <a href="/adminTipoMedicamento" class="nav-link px-0"> <span class="d-none d-sm-inline colText">Tipos</span></a>
                            </li>
                            <li>
                                <a href="/adminMarcaMedicamento" class="nav-link px-0"> <span class="d-none d-sm-inline colText">Marcas</span></a>
                            </li>
                                                        <li>
                                <a href="/adminMedicamento" class="nav-link px-0"> <span class="d-none d-sm-inline colText">Medicamento</span></a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="/adminEspecialidad" class="nav-link px-0 align-middle">
                            <i class="fs-4 bi-table"></i> <span class="ms-1 d-none d-sm-inline colText">Especialidades</span></a>
                    </li>
                    <li>
                        <a href="/adminEnfermedad" class="nav-link px-0 align-middle">
                            <i class="fs-4 bi-table"></i> <span class="ms-1 d-none d-sm-inline colText">Enfermedades</span></a>
                    </li>
                    <li>
                        <a href="#" (click)="logout()" class="nav-link px-0 align-middle colText">
                            <i class="fs-4 bi-table"></i>
                            <span class="ms-1 d-none d-sm-inline">Cerrar sesión</span>
                        </a>
                    </li>
                </ul>
                
                <hr>

            </div>
        </div>
        <div class="col py-3">
          <button class="create-button"  (click)="abrirModalCrearEnfermedad()">Crear enfermedad</button>
  
          <table>
              <thead>
                <tr>
                  <th>Descripcion</th>
                  <th>Acciones</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let enfermedad of enfermedad">
                  <td>{{ enfermedad.descripcion }}</td>


          <td>
            <div class="button-container">
              <button (click)="abrirModalEditarEnfermedad(enfermedad)">Editar</button>
              <button (click)="eliminarEnfermedad(enfermedad)">Eliminar</button>
            </div>
          </td>
          
                </tr>
              </tbody>
            </table>
        </div>
    </div>
  </div>
