.container{
  text-align: center;
}

.jumbotron {
    background-color: #f8f9fa;
    font-family: Arial, sans-serif;
    padding: 30px;
    margin-top: 0px;
  }

  .img-fluid {
    width: 1000px; /* Ancho deseado */
    height: 600px; /* Altura ajustada automáticamente */
  }
  
  
  section {
    margin-bottom: 30px;
  }
  
  .lista-doc{
    list-style: none;

  }

  .image-separator {
    margin-bottom: 20px;
  }
  
  .section-separator {
    margin-bottom: 40px;
  }
  