<app-menu></app-menu>

<div class="container">
  <div class="jumbotron text-center">
    <h1 class="dispayl-4">¿Quiénes somos? - Clínica IPS SaniUIS</h1>
    <p class="lead">Somos una clínica comprometida con tu salud y bienestar.</p>
  </div>

  <img src="../../../assets/bienestar.webp" alt="" class="img-fluid image-separator">

  <section class="section-separator">
    <h2>Nuestra misión</h2>
    <p>Nuestra misión en Ips SaniUis es transformar la atención médica, simplificando la gestión de citas, medicamentos e historiales clínicos<br>
        para brindar una experiencia ágil y de calidad a pacientes y profesionales de la salud.</p>
  </section>

  <img src="../../../assets/doctores.webp" alt="" class="img-fluid image-separator">

  <section class="section-separator">
    <h2>Nuestro equipo</h2>
    <ul class="lista-doc">
      <li>Dr. Juan Pérez - Especialista en Medicina Interna</li>
      <li>Dra. María Gómez - Odontóloga</li>
      <li>Dr. Roberto Fernández - Especialista en Radiología</li>
    </ul>
  </section>
</div>
