<app-menu></app-menu>

<div class="jumbotron text-center">
    <h1 class="display-4">Bienvenidos a la Clínica XYZ</h1>
    <p class="lead">Somos una clínica comprometida con tu salud y bienestar.</p>
    <a class="btn btn-primary btn-lg" href="#" role="button">Agenda tu cita</a>
  </div>
  
<div class="container">
    <div class="row">
      <div class="col-md-6">
        <h2>Nuestros servicios</h2>
        <ul class="list-group">
          <li class="list-group-item">Consulta médica</li>
          <li class="list-group-item">Exámenes de laboratorio</li>
          <li class="list-group-item">Rayos X</li>
          <li class="list-group-item">Odontología</li>
        </ul>
      </div>
      <div class="col-md-6">
        <img src="ruta-de-la-imagen" alt="Imagen de servicios" class="img-fluid">
      </div>
    </div>
  </div>
  