<app-menu></app-menu>

<div>
  <div class="container-fluid">
    <div class="row">
      <div class="col-12">
        <div id="bs-carousel" class="carousel fade-carousel slide" data-ride="carousel" data-interval="4000">
          <!-- Overlay -->
          <div class="overlay"></div>
          <!-- Wrapper for slides -->
          <div class="carousel-inner">
            <div class="item slides active">
              <div class="slide-img d-flex align-items-center justify-content-center position-relative">
                <img src="../../../assets/entradaU.webp" alt="" class="opacity-img">
                <div class="carousel-caption position-absolute top-50 start-50 translate-middle">
                  <h1>Bienvenidos</h1>
                  <h3>Ips SaniUIS</h3>
                  <a routerLink="/servicios" class="btn btn-primary btn-lg" role="button">Ver servicios</a>
                  <br><img src="../../../assets/logoSaniUIS.png" alt="" class="logo-img">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-1"></div>
      <div class="col-5">
        <h2>Testimonios</h2>
        <div class="d-flex flex-column">
          <img src="../../../assets/testimonios.webp" alt="" class="img-fluid testimonial-image">
          <p class="mt-3">Descubre lo que nuestros pacientes tienen que decir sobre su experiencia con Ips SaniUis. Nuestro compromiso con la calidad de atención y el bienestar de nuestros pacientes es evidente en cada testimonio. Permítenos compartir contigo algunas de las historias de éxito que hemos recopilado:

          </p><p>  "Increíble atención médica. El equipo de Ips SaniUis fue amable, profesional y se tomó el tiempo para escuchar mis preocupaciones. Me sentí completamente cuidado y respaldado durante todo el proceso." - Ana G.
            
          </p><p>   "Gracias a Ips SaniUis, pude agendar una cita médica de forma rápida y sencilla. El sistema en línea es intuitivo y me permitió elegir una fecha y hora que se ajustara a mi agenda. ¡Excelente servicio!" - Juan M.
            
          </p><p>   "La entrega de medicamentos nunca había sido tan eficiente. En Ips SaniUis, recogí mis medicamentos en cuestión de minutos, sin largas esperas ni complicaciones. ¡Definitivamente recomendaré este servicio a mis amigos y familiares!" - María R.</p>
        </div>
      </div>
      <div class="col-5">
        <h2>Misión</h2>
        <div class="d-flex flex-column">
          <img src="../../../assets/medicamentos.webp" alt="" class="img-fluid mission-image">
          <p class="mt-3">Nuestra misión en Ips SaniUis es revolucionar el sistema de atención médica al proporcionar soluciones innovadoras que mejoren la eficiencia, la accesibilidad y la calidad de los servicios de las Instituciones Prestadoras de Salud (IPS). Nos comprometemos a simplificar y agilizar el proceso de agendación de citas, la entrega de medicamentos y la gestión de historiales clínicos, brindando una experiencia excepcional tanto para los profesionales médicos como para los pacientes.

          </p>
        </div>
      </div>
      <div class="col-1"></div>
    </div>
  </div>
</div>