<div>
  <div class="container-fluid">
    <div class="row">
      <div class="col-12">
        <div id="bs-carousel" class="carousel fade-carousel slide" data-ride="carousel" data-interval="4000">
          <!-- Overlay -->
          <div class="overlay"></div>
          <!-- Wrapper for slides -->
          <div class="carousel-inner">
            <div class="item slides active">
              <div class="slide-img d-flex align-items-center justify-content-center position-relative">
                <img src="../../../assets/entradaU.webp" alt="">
                <div class="carousel-caption position-absolute top-50 start-50 translate-middle">
                  <h1>Bienvenidos</h1>
                  <h3>Ips SaniUis</h3>
                  <a routerLink="/services" class="btn btn-primary btn-lg" role="button">Ver servicios</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-1"></div>
      <div class="col-5">
        <h2>Testimonios</h2>
        <div class="d-flex flex-column">
          <img src="../../../assets/entradaU.webp" alt="" class="img-fluid testimonial-image">
          <p class="mt-3">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla ultricies mauris in augue placerat,
            non sollicitudin lacus tincidunt. Donec faucibus eleifend velit, et euismod elit sagittis eget.</p>
        </div>
      </div>
      <div class="col-5">
        <h2>Misión</h2>
        <div class="d-flex flex-column">
          <img src="../../../assets/entradaU.webp" alt="" class="img-fluid mission-image">
          <p class="mt-3">Suspendisse potenti. Aliquam malesuada leo vitae turpis aliquet, a dictum enim dignissim. Proin
            facilisis est ut vulputate rhoncus. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices
            posuere cubilia Curae.</p>
        </div>
      </div>
      <div class="col-1"></div>
    </div>
  </div>
</div>